# Spyder IDE files
.spyderproject
.spyderworkspace

# Eclipse files
.settings
.classpath
.project

# Make files
Makefile
.lib/
.dep/

# Vagrant dotdir
.vagrant

# Rails files that shouldn't be here
tmp/
log/
database.yml
