.navbar
  .float-left.bold
    =link_to "Karen Power Control", user_signed_in? ? root_path : karens_path
  .float-right
    - if user_signed_in?
      = link_to "Sign Out", destroy_user_session_path
    - else
      = link_to("Sign In", new_user_session_path) 
      or 
      = link_to("Sign Up", new_user_registration_path) 
